body {
	background-color: white;
}

a { 
display: inline-block;
text-decoration: none;
color: grey;
padding: 20px;
font-size: 20px;
 }
 a:hover{
 	background-color: silver;
 }
 header {
	text-align: center;
	padding: 15px;
	background-color: black;
}
div {
	text-align: center;
}
form {
	text-align: center;
}